# .gitignore

# Ignore Python compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints

# Ignore SQLite database file
*.db

# Ignore the environment
.env
